<h1>Registration</h1>
<div style="width:31rem;">
  <div>
    <mat-form-field appearance="outline" style="margin-right:1em;width:15rem;">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:15rem;">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" style="width:100%;">
      <mat-label>Company</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div style="display: flex; justify-content: flex-end">
    <button mat-raised-button color="accent" (click)="register()">Register</button>
  </div>

</div>
